@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/* 
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --fuenteprincipal: 'Montserrat', sans-serif;
  --fuentesecundaria: 'Handlee', cursive;
  --colorprincipal: #fa573a;
  --colorsecundario: #21242e;
  --margingrid: 1em;
  --fontsize: 1em;
  --anchomaximo: 1100px;
}

body {
  font-family: var(--fuenteprincipal);
  font-size: var(--fontsize);
}

.container {
  max-width: var(--anchomaximo);
  margin: 0 auto;
}

/* inicio header */

header .nav-top {
  background-color: var(--colorsecundario);
  padding: var(--margingrid) 0px;
}

header .nav-top .container {
  display: flex;
  justify-content: space-around;
}

header .nav-top a {
  color: var(--colorprincipal);
  text-decoration: none;
}

header .nav-top a span {
  display: none;
}

header .nav-top a i {
  font-size: 150%;
}

header nav {
  padding: var(--margingrid);
}

header nav .container:after {
  display: block;
  content: '';
  clear: both;
  height: 0;
}

header nav .hamburguesa {
  cursor: pointer;
}

header .logo {
  float: left;
  max-width: 100px;
}

header .hamburguesa {
  float: right;
}

header .menu {
  padding-top: 60px;
  text-align: center;
}

header .menu a {
  text-decoration: none;
  display: block;
  padding: calc(var(--margingrid) * 1.25);
  color: #aaa;
  border-bottom: 1px solid #aaa;
}

header .menu li:last-child a {
  border: 0px;
}

header .menu .activo {
  color: var(--colorprincipal);
}

header nav .hamburguesa div {
  border-top: 2px solid #aaa;
  margin-bottom: calc(var(--margingrid) * 0.75);
  width: 2em;
}

/* fin header */

/* inicio footer */

footer {
  background-color: var(--colorsecundario);
  padding: var(--margingrid) 0px;
  color: white;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: var(--colorprincipal);
}

.flecha a {
  display: block;
  color: var(--colorprincipal);
  position: fixed;
  bottom: 2%;
  right: 10px;
  font-size: 250%;
}

/* fin footer */

/* inicio hero */

.hero {
  background-image: url(../images/fondo.jpg);
  height: 60vh;
  background-position: center center;
  background-size: cover;
  background-color: #777;
  background-blend-mode: multiply;
  color: white;
  display: flex;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: var(--margingrid);
}

.hero h1 {
  font-family: var(--fuentesecundaria);
  font-size: 2.25em;
}

.hero h2 {
  color: var(--colorprincipal);
  margin: var(--margingrid) 0;
  font-size: 1.25em;
}

.hero p {
  font-size: 1.15em;
}

.boton {
  display: inline-block;
  background-color: var(--colorprincipal);
  padding: var(--margingrid);
  color: white;
  text-decoration: none;
  margin: var(--margingrid) 0;
  border: 1px solid var(--colorprincipal);
}

.boton:hover {
  background: transparent;
  color: var(--colorprincipal);
}

.boton:hover i {
  transform: translateX(5px);
  transition: 0.5s;
}

.hero .social {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.hero .social a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

/* fin hero */

/* inicio ourservices */

main section {
  padding: calc(var(--margingrid) * 3) var(--margingrid);
}

main section h2 {
  color: black;
  font-family: var(--fuentesecundaria);
  font-size: 2em;
  text-align: center;
}

main section h2 span {
  color: var(--colorprincipal);
}

main section .underline {
  position: relative;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: var(--margingrid);
}

main section .underline hr {
  position: absolute;
  width: 100%;
  top: -1px;
  border-color: var(--colorprincipal);
}

main section .underline span {
  color: var(--colorprincipal);
  font-weight: 700;
}

main #ourservices .grid {
  display: grid;
}

main #ourservices .grid article {
  padding: calc(var(--margingrid) * 2) 0;
  border-bottom: 1px solid #aaa;
}

main #ourservices .grid article div i {
  color: var(--colorprincipal);
  font-size: 150%;
  border: 1px solid var(--colorprincipal);
  padding: 0.5em;
}

main #ourservices .grid article h3 {
  font-weight: 700;
  margin: 10px 0;
  font-size: 110%;
}

main section p {
  color: #666;
  line-height: 1.25;
  margin-bottom: 10px;
}

.enlace {
  text-decoration: none;
  color: var(--colorprincipal);
  font-weight: 700;
}

.fa-truck {
  transform: rotateY(180deg);
}

/* fin ourservices */

/* inicio aboutus */

main #aboutus .flex .column {
  margin: var(--margingrid) 0;
}

main #aboutus .column h3 {
  font-weight: 700;
  font-size: 110%;
}

main #aboutus .column h4 {
  margin: 0.8em 0;
  color: var(--colorprincipal);
}

main #aboutus .imagen {
  width: 90%;
  margin: 0 auto;
}

main #aboutus .imagen .marco {
  border: 3px solid var(--colorprincipal);
  transform: rotateZ(10deg);
  transition: 1s;
}

main #aboutus .imagen .marco img {
  transform: rotateZ(-10deg);
  transition: 1s;
}

main #aboutus .imagen:hover .marco,
main #aboutus .imagen:hover .marco img {
  transform: rotateZ(0deg);
}

/* fin aboutus */

/* MENU */
#menu .options {
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 7rem;
}

#menu {
  color: white;
  display: absolute;
  background: #222222;
}

#menu .container .today {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
#menu article {
  width: 100%;
  padding-left: 10rem;
  padding-bottom: 1rem;
}

#menu .container h3 {
  font-weight: bold;
}
#menu section h3 {
  font-weight: bold;
  padding-left: 15em;
  text-align: left;
  align-content: left;
}

#menu .container p {
  font-size: small;
  padding: 1em;
}

#menu .container a {
  padding: 15em;
}

#menu .container ul {
  padding: 10em;
}

#menu .underline {
  position: relative;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: var(--margingrid);
  position: absolute;
  margin-left: 50em;
}
/* #menu .underline span {
  margin: 0 auto;
  text-align: center;
} */
#menu span {
  color: var(--colorprincipal);
}
#menu .underline hr {
  width: 50px;
  top: -3px;
  border-color: var(--colorprincipal);
  position: absolute;
  padding-left: 6em;
}

#menu .offers hr {
  width: 50px;
  border-color: var(--colorprincipal);
}
#menu span {
  color: #f0543a;
  font-weight: 700;
}

#menu h2 {
  color: white;
  font-family: var(--fuentesecundaria);
  font-size: 2em;
  text-align: center;
  padding-top: 2rem;
}

#menu .options a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 400;
}
#menu .today a {
  color: var(--colorprincipal);
}

#menu .active {
  background: var(--colorprincipal);
  padding: 5px;
  padding-right: 22rem;
  border-radius: 5px;
}

#menu .article {
  align-items: center;
}

#menu section p {
  color: white;
  padding-left: 13rem;
}

#menu .options .meals {
  text-align: left;
  padding-left: 17rem;
}
#menu .options .meals a {
  font-weight: 600;
}

#menu .today article .content-article h3 {
  padding-right: 13em;
}
#menu .today article .content-article p {
  padding-right: 16em;
}

nav .meals li {
  padding: 1em;
}

.blog .underline {
  margin: 0 auto;
  text-align: center;
}

.hidedesk {
  display: none;
  color: white;
}
.hidedesk hr {
  width: 50px;
  border-color: var(--colorprincipal);
}
.hidemobile {
  display: block;
  color: white;
}

/* BLOG */

/* mediaquerys */

@media (min-width: 600px) {
  main #ourservices .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margingrid);
  }
  main #ourservices .grid article:last-child {
    grid-column: 1/3;
  }
  main #ourservices .grid article {
    border-bottom: 0px;
    border-left: 1px solid #aaa;
    padding: var(--margingrid);
  }
  main #aboutus .flex {
    display: flex;
  }
  main #aboutus .imagen {
    width: 80%;
  }
  main #aboutus {
    margin-bottom: 2em;
  }
  .hide {
    display: none;
  }
}

@media (min-width: 768px) {
  header .nav-top a span {
    display: inline;
    color: white;
  }
  header .nav-top a i {
    font-size: 120%;
  }
  footer {
    text-align: left;
  }
  main #ourservices .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  main #ourservices .grid article:last-child {
    grid-column: 3/4;
  }
  #menu .options {
    display: flex;
  }
  #menu .container a {
    padding: 0em;
    text-decoration: none;
  }

  #menu .options .container {
    width: 70%;
    float: left;
  }
  .options nav {
    width: 30%;
    float: left;
  }

  .hidedesk {
    display: block;
  }
  .hidemobile {
    display: none;
  }

  #menu .today article .content-article h3 {
    padding-right: 1em;
    padding-top: 1em;
  }
  #menu .today article .content-article p {
    padding-right: 1em;
  }
  #menu .today article .content-article a {
    padding-right: 1em;
  }

  #menu .today img {
    width: 70%;
  }

  #menu .option .meals li {
    padding-left: 2em;
  }
  #menu .options .meals {
    text-align: left;
    padding-left: 1rem;
  }
  .hidedesk .offers {
    padding-left: 0em;
    position: absolute;
  }
  .hidedesk p {
    padding-top: 1em;
  }
  #menu section p {
    padding-top: 1em;
  }
  #menu .underline {
    margin-left: 20em;
  }

  #aboutus .column div {
    padding-top: 1rem;
    padding-left: 2rem;
  }

  #aboutus .article {
    position: relative;
  }
  #aboutus .article figure {
    position: absolute;
  }

  #aboutus .cuadrito {
    width: 100px;
    height: 100px;
    background-color: rgba(240, 62, 62, 0.788);
    position: absolute;
    color: white;
    top: 31.2rem;
    left: 3.2rem;
    position: absolute;
  }
  #aboutus .cuadritodos {
    width: 100px;
    height: 100px;
    background-color: rgba(240, 62, 62, 0.788);
    position: relative;
    color: white;
    top: 31.2rem;
    left: 26.2rem;
    position: absolute;
  }
  #aboutus .cuadrito p {
    color: white;
  }
  #aboutus .cuadritodos p {
    color: white;
  }
}

@media (min-width: 1004px) {
  header .hamburguesa {
    display: none;
  }
  header .menu {
    padding-top: 0px;
    float: right;
  }
  header .menu li {
    display: inline-block;
  }
  header .menu li a {
    border: 0px;
    padding: 0.5em calc(var(--margingrid));
  }
  #menu figure {
    width: 30%;
    float: left;
  }

  #menu .content-article {
    width: 60%;
    float: left;
  }
  #aboutus .column div {
    position: absolute;
    padding-left: 2em;
    padding-top: 1rem;
  }
  .hide {
    display: block;
  }

  #menu .container {
    padding-left: 18em;
  }

  #menu .hidedesk {
    display: none;
  }

  #menu .hidemobile {
    display: block;
    padding-top: 5em;
  }
  #menu .hidemobile h3 {
    display: block;
    padding-left: 13em;
  }

  #menu .options {
    position: absolute;
    padding-top: 6em;
    padding: left 0rem;
    display: flex;
    flex-direction: column;
  }
  #menu .container .move {
    padding-left: -10rem;
  }
  main section {
    padding: 2rem 2rem;
  }
  #menu h2 {
    padding-top: 2rem;
    padding-right: 13rem;
    padding-bottom: 0rem;
  }

  #menu .today .push {
    padding-bottom: 27rem;
  }

  nav .meals li {
    width: 100%;
  }
  #aboutus .cuadrito {
    width: 100px;
    height: 100px;
    background-color: rgba(240, 62, 62, 0.788);
    position: relative;
    color: white;
    top: 14.2rem;
    left: 29.8rem;
    position: absolute;
  }
  #aboutus .cuadritodos {
    width: 100px;
    height: 100px;
    background-color: rgba(240, 62, 62, 0.788);
    position: relative;
    color: white;
    top: 14.2rem;
    left: 51.3rem;
    position: absolute;
  }
  #aboutus .cuadrito p {
    color: white;
    font-weight: 700;
  }
  #aboutus .cuadritodos p {
    color: white;
    font-weight: 700;
  }
  #aboutus .cuadritotres {
    width: 100px;
    height: 100px;
    background-color: rgba(240, 62, 62, 0.788);
    position: relative;
    color: white;
    top: 14.2rem;
    left: 72.9rem;
    position: absolute;
  }
  #aboutus .cuadritotres p {
    color: white;
    font-weight: 700;
  }
  #menu .underline {
    margin-left: 50em;
  }
}
